*, *::before, *::after {
	box-sizing: border-box;
	font-family: Rubik;
}

body{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #050608;
	font-size: 14pt;
	overflow: hidden;
}

.container{
	width: 95%;
	height: 92.5%;
	min-width: 1000px;
	min-height: 700px;
	background-color: #202225;
	color: #fff;
	justify-content: center;
	align-items: center;
	display: flex;
}

#columnLeft{
	width: 25%;
	height: 100%;
	display: inline-block;
	padding: 1%;
}

#columnCenter{
	width: 50%;
	height: 100%;
	display: inline-block;
}

#columnCenterTop{
	width: 100%;
	height: 75%;
	display: block;
}

#titleText{
	font-size: 18pt;
	height: 5%;
	display: inline-block;
	text-align: center;
	margin: 3% 0 0 0;
}

#mainText{
	height: 92%;
	display: block;
	overflow-y: scroll;
}

#columnCenterBottom{
	width: 100%;
	height: 25%;
	display: block;
}

#columnRight{
	width: 25%;
	height: 100%;
	display: inline-block;
	padding: 1%;
}

.btn-grid{
	display: grid;
	grid-template-columns: repeat(5, 19%);
	gap: 5px;
	margin-top: 20px;
	justify-content: center;
	align-items: center;
}

.btn{
	background-color: hsl(220, 25%, 25%);
	border: 0;
	padding: 5px 10px;
	color: #fff;
	outline: none;
	height: 5.5vh;
}

.btn:hover{
	background-color: hsl(220, 20%, 20%);
	box-shadow: 0 0 5px 0 #000;
	cursor: pointer;
}

.btn:disabled,
.btn[disabled]{
	background-color: hsl(220, 5%, 20%);
	cursor: default;
	box-shadow: none;
}

.btn-directional{
	background-color: hsl(300, 25%, 25%);
	border: 0;
	padding: 5px 10px;
	color: #fff;
	outline: none;
	height: 5.5vh;
}

.btn-directional:hover{
	background-color: hsl(300, 20%, 20%);
	box-shadow: 0 0 5px 0 #000a;
	cursor: pointer;
}

.btn-directional:disabled,
.btn-directional[disabled]{
	background-color: hsl(300, 5%, 20%);
	cursor: default;
	box-shadow: none;
}